<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавьте информацию о себе</title>
</head>
<body>
<p>Вы успешно зарегистрировались!</p>
<p>Заполните опционально информацию о себе!</p>
</br>
<form method="post">
    <p>Введите пожалуйста Имя</p>
    <input name="first_name" type="text">
    <p>Введите пожалуйста Фамилию</p>
    <input name="last_name" type="text">
    <p>Введите пожалуйста возраст</p>
    <input name="old" type="number">
    <p>Введите пожалуйста город</p>
    <input name="city" type="text">
    <input type="submit">
</form>
</body>
</html>