{% extends 'mainpage/base.html' %}

{% load static %}

{% block title %}
    Steam
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'mainpage/css/slider.css' %}">
{% endblock head %}

{% block main %}
<div class="swiper-container mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="card cyberpunk">
                <div class="card-text">
                    <span class="card-subtitle">Pre-Purchase</span>
                    <span class="card-title">Cyberpunk 2077</span>
                    <span class="card-description">
                        Cyberpunk 2077 is an open-world, <br> 
                        action-adventure story set in Night City, a <br>
                        megalopolis obsessed with power, <br>
                        glamour and body modification.
                    </span>
                    <span class="card-price">
                        $59.99
                        <img src="/media/windows.svg" alt="icon: windows">
                    </span>
                    <button class="buy">
                        <div class="circle"></div>
                        Buy now
                    </button>
                </div>
                <img src="/media/persona.png" alt="img: illustration" id="main-img">
                <div class="card-images">
                    <img src="/media/cyberpuk.png" alt="icon: logo" id="game-logo">
                    <div class="preview-images">
                        <img src="/media/cyberpunk1.png" alt="image: game-illustration">
                        <img src="/media/cyberpunk2.png" alt="image: game-illustration">
                        <img src="/media/cyberpunk3.png" alt="image: game-illustration">
                        <img src="/media/cyberpunk4.png" alt="image: game-illustration">
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card star-wars">
                <div class="card-text">
                    <span class="card-subtitle">
                        <img src="/media/trophy.png" alt="img: trophy">
                        Top seller
                    </span>
                    <span class="card-title">
                        STAR WARS Jedi: <br>
                        Fallen Order
                    </span>
                    <span class="card-description">
                        A galaxy-spanning adventure awaits in Star <br>
                        Wars Jedi: Fallen Order, a 3rd person <br>
                        action-adventure title from Respawn.
                    </span>
                    <span class="card-price">
                        $59.99
                        <img src="/media/windows.svg" alt="icon: windows">
                    </span>
                    <button class="buy">
                        <div class="circle"></div>
                        Buy now
                    </button>
                </div>
                <img src="/media/star-wars-persona.png" alt="img: illustration" id="main-img-star">
                <div class="card-images">
                    <img src="/media/star-wars-logo.svg" alt="icon: logo" id="game-logo" class="star-wars-image-logo">
                    <div class="preview-images">
                        <img src="/media/star1.png" alt="image: game-illustration">
                        <img src="/media/star2.png" alt="image: game-illustration">
                        <img src="/media/star3.png" alt="image: game-illustration">
                        <img src="/media/star4.png" alt="image: game-illustration">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
{% endblock main %}

{% block scripts %}
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="{% static 'mainpage/js/script.js' %}"></script>
{% endblock scripts %}