{% extends 'mainpage/base.html' %}

{% load static %}

{% block title %}
    Steam
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'mainpage/css/slider.css' %}">
{% endblock head %}

{% block main %}
<div class="swiper-container mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="card cyberpunk">
                <div class="card-text">
                    <span class="card-subtitle">Pre-Purchase</span>
                    <span class="card-title">Cyberpunk 2077</span>
                    <span class="card-description">
                        Cyberpunk 2077 is an open-world, <br> 
                        action-adventure story set in Night City, a <br>
                        megalopolis obsessed with power, <br>
                        glamour and body modification.
                    </span>
                    <span class="card-price">
                        $59.99
                        <img src="/media/windows.svg" alt="icon: windows">
                    </span>
                    <button class="buy">Buy now</button>
                </div>
                <img src="/media/persona.png" alt="img: illustration" id="main-img">
                <div class="card-images">
                    <img src="/media/cyberpuk.png" alt="icon: logo" id="game-logo">
                </div>
            </div>
        </div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        <div class="swiper-slide">Slide 4</div>
        <div class="swiper-slide">Slide 5</div>
        <div class="swiper-slide">Slide 6</div>
        <div class="swiper-slide">Slide 7</div>
        <div class="swiper-slide">Slide 8</div>
        <div class="swiper-slide">Slide 9</div>
    </div>
</div>
{% endblock main %}

{% block scripts %}
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="{% static 'mainpage/js/script.js' %}"></script>
{% endblock scripts %}