{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static "app.css" %}">
  {% block css_files %}{% endblock %}
</head>
<body>
<img src={% static "blog/1618432813_38-funart_pro-p-oboi-fon-fon-knigi-41.jpg" %} class="bg">
  <header id="main-navigation">
    <h1><a href="{% url "starting-page" %}">My Literature Blog</a></h1>
    <nav>
      <a href="{% url "read-later" %}">Stored Posts</a>
      <a href="{% url "posts-page" %}">All Posts</a>
       {% if request.user.is_authenticated %}
      <a href="{% url "logout" %}">logout</a>
      <a href="{% url "post_new" %}">Write a Post</a>
      <a href="{% url "dashboard" %}">My account</a>
        {% else  %}
        <a href="{% url "login" %}">login</a>
        <a href="{% url "register" %}">Register</a>
        {% endif  %}

    
    </nav>
  </header>

  {% block content %}
  {% endblock %}
</body>
</html>